<header>
  <h1>Alphabet Board</h1>
  <p>
    This is an alphabet board created to help people with cognitive problems to
    interact with applications
  </p>
</header>

<main (click)="handleClick()">
  <section appCharacterSelector [selected]="index$ | async">
    <h2>Letters</h2>
    <p>Current letter to be selected: {{ letter$ | async }}</p>
    <article *ngFor="let letter of letters">
      {{ letter | char }}
    </article>
    <article>SPC</article>
    <div class="character-selector"></div>
  </section>

  <section>
    <h2>Word</h2>
    <p>{{ word$ | async }}</p>
  </section>
</main>
