<header (click)="handleClick()">
  <h1>Alphabet Board</h1>
  <p>
    This is an alphabet board created to help people with cognitive problems to
    interact with applications
  </p>
</header>

<main (click)="handleClick()">
  <section>
    <h2>Letters</h2>
    <p *ngIf="letter$ | async as letter" aria-live="assertive">
      {{ letter === ' ' ? 'SPACE' : letter }} is currently selected.
    </p>
    <article 
      *ngFor="let letter of letters; let i = index" 
      [ngClass]="{active: (index$ | async) === i}">
      {{ letter | char }}
    </article>
    <article [ngClass]="{active: (letter$ | async) === ' '}">SPACE</article>
  </section>

  <section>
    <h2>Word</h2>
    <p aria-live="assertive">{{ word$ | async }}</p>
  </section>
</main>
